<%# locals: (matchup:) %>
<% locked = matchup.locked? %>
<button @click="toggleSelection('<%= matchup.id %>')"
        class="relative w-full bg-surface p-3 md:p-4 rounded-2xl transition-all text-center border-2 shadow <%= locked ? 'opacity-50' : '' %>"
        :class="{
          'matchup-selected': selections['<%= matchup.id %>'],
          'border-subtle hover:bg-surface-alt/50': !selections['<%= matchup.id %>'],
          'matchup-pulse': pulseId === '<%= matchup.id %>' && selectionCount === 0
        }"
        role="checkbox" :aria-checked="!!selections['<%= matchup.id %>']"
        aria-label="<%= matchup.team.name %><%= matchup.opponent_team ? " vs #{matchup.opponent_team.name}" : '' %>"
        <% if locked %>disabled<% end %>>
  <% if locked %>
    <span class="absolute top-2 left-2 text-[10px] text-yellow-500">&#128274;</span>
  <% end %>
  <%= render "contests/matchup_card_face", matchup: matchup %>
</button>
